<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Tutors </title>
    </head>
    <body>
        <h1>Tutor list</h1>

        {% for tutor in tutors %}
        <div>
            <p> {{ tutor.tutor_name }} </p>
            <p> {{ tutor.tutor_email }} </p>
            <br>
        </div>
        {% endfor %}

    </body>
</html>
